.logo-inicio {
    position: relative;
    bottom: -7px;
}
.app-title {
    font-family: $font-family;
    span {
        color: $blue;
    }
}

.nav-link {
    font-family: $letra !important;
}

.button {
    background-color: #80b4bd;
    padding: 0.7rem 2rem;
    border-radius: 10px;
    color: white;
    font-family: "RocknRoll One", sans-serif;
    margin-bottom: 1rem;
    margin: 0.5rem;
    border: white solid 1px;

    &:hover {
        text-decoration: none;
        color: white;
        background-color: #6d949b;
    }
}

.imagen-mascota {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
}
