.content-inicio {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(255, 255, 255, 0);
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.75) 0%,
        rgba(0, 188, 212, 0.48) 40%
    );
    background-position: center center;
    background-repeat: no-repeat;
    .banner {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .info-banner {
            h3 {
                color: white;
                font-size: 2.1rem;
                font-weight: 800;
                padding-left: 3rem;
                padding-right: 3rem;
            }
            p {
                color: white;
                font-weight: 500;
                padding-left: 3rem;
                padding-right: 3rem;
                font-size: 1.4rem;
                padding-bottom: 2rem;
            }
        }
    }

    .image-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        img {
            width: 350px;
        }
    }

    @media (max-width: 800px) {
        grid-template-columns: 1fr;
        height: auto;
        .banner {
            padding-top: 4rem;
            padding-bottom: 2rem;
        }

        .image-content {
            img {
                width: 200px;
                padding-bottom: 2rem;
            }
        }

        .button-banner {
            display: contents;
        }
    }
}

.content-footer {
    padding: 2rem 2rem 1rem 2rem;
    display: grid;
    font-size: 1rem;
    grid-template-columns: 1fr 1fr;

    .info-marca {
        padding: 0 3rem 0 3rem;

        p {
            margin-top: 1rem;
            margin-bottom: 1rem;
            text-align: justify;
        }
    }

    .info-contacto {
        padding: 0 3rem 0 3rem;
        .title {
            font-size: 1rem;
            font-weight: bold;
        }
        p span {
            font-weight: bold;
        }
        p i {
            font-size: 1.6rem;
            cursor: pointer;
            margin-left: 10px;
        }
    }

    @media (max-width: 500px) {
        grid-template-columns: 1fr;

        .info-contacto {
            text-align: center;
            margin-top: 2rem;
        }
    }
}

.copyright {
    text-align: center;
}
