.container-vista-mascota {
    .nombre-mascota {
        font-size: 1.5rem;
    }

    .mascota-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;

        .foto-mascota {
            height: 500px;
            width: 366px;
            p {
                font-size: 2rem;
                margin-bottom: 10px;
            }

            img {
                object-fit: cover;
                border-radius: 10px;
                width: 366px;
                height: 400px;
            }
        }

        .info-mascota {
            border-radius: 10px;
            border: rgb(197, 191, 191) solid 1px;
            height: 400px;
            p:first-child {
                text-align: center;
                margin-top: 10px;
                font-size: 1.3rem;
                margin-bottom: 2rem;
            }

            .campo-info {
                display: flex;
                align-items: center;
                text-align: center;
                padding-bottom: 1.8rem;
                label {
                    flex: 0 0 190px;
                    // font-weight: bold;
                    font-size: 1rem;
                }
                p {
                    flex: 1;
                    font-size: 1rem;
                    // font-weight: bold;
                }
            }
        }

        .descripcion-mascota {
            border-radius: 10px;
            border: rgb(197, 191, 191) solid 1px;
            height: 400px;
        }
    }
}
