.container-vista-mascota {
    .content-name-boton {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .nombre-mascota {
        font-size: 1.5rem;
    }

    .mascota-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;

        .foto-mascota {
            height: 500px;
            width: 366px;
            p {
                font-size: 2rem;
                margin-bottom: 10px;
            }

            img {
                object-fit: cover;
                border-radius: 10px;
                width: 366px;
                height: 400px;

                @media (max-width: 480px) {
                    padding: 15px;
                    border-radius: 10px !important;
                }
            }
        }

        .info-mascota {
            border-radius: 10px;
            border: rgb(197, 191, 191) solid 1px;
            height: 400px;
            p:first-child {
                text-align: center;
                margin-top: 10px;
                font-size: 1.3rem;
                margin-bottom: 2rem;
            }

            .descripcion-mascota-show {
                label {
                    font-weight: bold;
                }
                text-align: center;
            }

            .campo-info {
                display: flex;
                align-items: center;
                text-align: center;
                padding-bottom: 1.8rem;
                label {
                    flex: 0 0 190px;
                    font-size: 1rem;
                    @media (max-width: 480px) {
                        flex: 0 0 160px;
                    }
                }
                p {
                    flex: 1;
                    font-size: 1rem;
                }
            }

            @media (max-width: 480px) {
                margin: 30px;
                position: relative;
                top: -90px;
            }
        }

        .descripcion-mascota {
            border-radius: 10px;
            border: rgb(197, 191, 191) solid 1px;
            height: 400px;
        }
        @media (max-width: 1000px) {
            grid-template-columns: 1fr 1fr;
            row-gap: 10px;
        }
        @media (max-width: 480px) {
            grid-template-columns: 1fr;
            row-gap: 10px;
        }
    }
}

.botones-tabla {
    a {
        margin-bottom: 10px;
    }

    @media (max-width: 550px) {
        display: inline-grid;
    }
}
